@use 'sass:color';
@use '../../@styles' as s;

.Pagination {
    $pr: s.$dark;
    $ou: s.$blue;

    height: min-content;
    display: flex;
    justify-content: center;
    gap: 10px;
    color: $pr;
    font-size: s.$fz-md;
    text-align: center;

    .pageNumber {
        all: unset;
        user-select: none;
        min-width: 25px;
        padding: 0.25em 0.3em;
        border: 1px solid transparent;
        border-radius: s.$br-md - 3px;

        &:hover:not(.current):not(:disabled) {
            cursor: pointer;
        }
        &:disabled:not(.decoration) {
            opacity: 0.3;
        }

        &.current {
            border-color: $pr;
        }

        &:focus-visible {
            border-color: s.$coral;
            &.current {
                outline: 1px solid s.$coral;
            }
        }
    }

    $offset: 20px;

    > *:first-child {
        margin-right: $offset;
    }
    > *:last-child {
        margin-left: $offset;
    }
}
