body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
    border: 1px solid transparent;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;

    background: center / cover url('./assets/background.svg');
}
