@use '../../@styles' as s;

.RoundButton {
    all: unset;
    font-size: s.$fz-md;
    padding: 15px 35px;
    min-width: 170px;
    box-sizing: border-box;
    white-space: nowrap;
    text-align: center;
    border-radius: 35px;
    border: 1px solid transparent;
    color: s.$dark;
    background: s.$gray;
    cursor: pointer;
    user-select: none;

    &.active {
        border-color: s.$dark;
    }

    &:focus-visible {
        outline: 1px solid s.$coral;
        &.active {
            border-color: s.$coral;
            outline: 1px solid s.$coral;
        }
    }
}
